#para1{
    color:blue;
    text-decoration: underline;
    text-transform: lowercase;
    word-spacing: 10px;
    letter-spacing: 5px;
    line-height: 50px;
}
.para2{
    color:green;
}
.class1{
    color:purple;
}
.class2{
    font-size: 30px;

}
body{
    background-image: url('pink.jpg');
    background-repeat: repeat;
}
h1{
    position: fixed;
    left: 100px;
    top: 50px;
}